<div class=" container">
<div class="row">
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/Images/skybag.jpeg" height="250px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Backpacks</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="backpacks" class="btn btn-primary">Go to backpacks</a>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/Images/wallet.jpeg" height="250px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Wallets</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="wallets" class="btn btn-primary">Go to wallets</a>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/Images//sunwear.jpeg" height="250px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sunglasses</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="sunglasses" class="btn btn-primary">Go to sunglasses</a>
            </div>
          </div>
      </div>
  </div>
</div>