<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Website</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{users.id}}</td>
            <td>{{users.name}}</td>
            <td>{{users.username}}</td>
            <td>{{users.email}}</td>
            <td>{{users.address.street}},{{users.address.suite}},{{users.address.city}},{{users.address.zipcode}}</td>
            <td>{{users.phone}}</td>
            <td>{{users.website}}</td>
        </tr>
    </tbody>
</table>
<a routerLink="/users" class="btn btn-primary">Back to users</a> 
