<table class="table">
    <thead>
        <tr>
            <th scope="col">userId</th>
            <th scope="col">id</th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of arrPost">
            <td>{{post.userId}}</td>
            <td><a [routerLink]="['/postdetails', post.id]">{{post.id}}</a></td>
            <td>{{post.title}}</td>
            <td>{{post.body}}</td>
        </tr>

    </tbody>
</table>