<div style="margin-left: 20px; margin-bottom: 30px;">
  <h1>
    Welcome to {{ title }}! {{name}}
  </h1>
  <app-demo></app-demo>
  <br>

  <h2>{{d}}</h2>
  <h3>{{d1}}</h3><br>

  <app-test1></app-test1>
  <br><br>
  <app-test2 [child]="parentToChild" (fromChild)="onParent($event)">
  </app-test2><br>

  <app-card [title]="posts[0].title" [content]="posts[0].content"></app-card>
  <app-card [title]="posts[1].title" [content]="posts[1].content"></app-card>
  <img height="200px" width="200px" [src]="imageUrl" alt=""><br><br>

  <app-employee (empFrmChild)="empObj($event)"></app-employee>

  <app-ngfor></app-ngfor> <br>
  <app-ngif></app-ngif> <br>
  <app-ngswitch></app-ngswitch>
  <app-ngstyle></app-ngstyle>
  <app-ngclass></app-ngclass>
  <br><br><br>
</div>
<router-outlet></router-outlet>