<p>customerlist works!</p>


<!-- <div>
    <div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Publisher</th>
                        <th>Link</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Uuid</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fin of finarray">
                      <td>{{fin.publisher}}</td>
                      <td>{{fin.link}}</td>
                      <td>{{fin.title}}</td>
                      <td>{{fin.type}}</td>
                      <td>{{fin.uuid}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->