<div class="row" style="margin-left: 30px;">
  <div class="col-md-12">
    <p appCustom>i am comming from directive Example</p>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="card">
        <img src="../../assets/Images/ThinkBook-14-Gen-2-Intel-hero.jpeg" height="262px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Laptop</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="laptop" class="btn btn-primary">Laptop</a>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card">
        <img src="../../assets/Images/mobile.jpeg" height="262px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mobile</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="mobile" class="btn btn-primary">Mobile</a>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card">
        <img src="../../assets/Images/camera.jpeg" height="262px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Camera</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="camera" class="btn btn-primary">Camera</a>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card">
        <img src="../../assets/Images/watch.jpeg" height="262px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Watch</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="watch" class="btn btn-primary">Watch</a>
        </div>
      </div>
    </div>


    <div class="col-md-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>