<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Website</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td><a [routerLink]="['/userdetails', user.id]">{{user.id}}</a></td>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>  
            <td>{{user.email}}</td>           
            <td>{{user.address.street}},{{user.address.suite}},{{user.address.city}},{{user.address.zipcode}}</td>           
            <td>{{user.phone}}</td>           
            <td>{{user.website}}</td>     
        </tr>   
    </tbody>
</table>