<div class="row" style="margin-left: 30px;">

    <div class="card" style="width: 18rem;">
        <img src="../../assets/Images/bat.jpeg" height="262px" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Bat</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a routerLink="bat" class="btn btn-primary">Bat</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../assets/Images/cycle.jpeg" height="262px" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cycle</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a routerLink="cycle" class="btn btn-primary">Cycle</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../assets/Images/dumbbell.jpeg" height="262px" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Dumbbell</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a routerLink="dumbbell" class="btn btn-primary">Dumbbell</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../assets/Images/treadmill.jpeg" height="262px" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Treadmill</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a routerLink="treadmill" class="btn btn-primary">Treadmill</a>
        </div>
    </div>

</div>